<footer>
  <mat-toolbar color='accent'>
    <button mat-button routerLink="/GTC">GTC</button>
    <span class="spacer"></span>
    <button mat-button href="https://www.flaticon.com/">Icons from www.flaticon.com</button>
  </mat-toolbar>
</footer>
