<div class="fab-container">
  <button mat-fab color="primary" class="fab-toggler"
          (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
  </button>
  <div [@speedDialStagger]="buttons.length"> <!-- and here -->
    <div *ngFor="let option of buttons" class="fab-option-container">
      <p>{{option.title}}</p>
      <button mat-mini-fab
              class="fab-secondary"
              color="secondary"
              routerLink="{{option.target}}">
        <mat-icon svgIcon="{{option.icon}}"></mat-icon>
      </button>
    </div>
  </div>
</div>

<div [@fabBackgroundBlurrer]="{value: fabTogglerState}"
     class="fab-background"
     *ngIf="fabTogglerState==='active'"
     (click)="onToggleFab()">
</div>
