.fab-container
  position: fixed
  bottom: 3em
  right: 2em
  z-index: 100
  display: flex
  flex-direction: column-reverse
  align-items: flex-end

  .fab-option-container
    padding-right: 8px
    margin-bottom: 1em
    z-index: 100
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    
.fab-toggler 
  float: right
  z-index: 100

.fab-background
  z-index: 99
  height: 100vh
  width: 100vw
  position: absolute
  top: 0
  left: 0
  backdrop-filter: blur(4px)