<div>
  <button *ngIf="last" mat-stroked-button color="warn" (click)="notify.emit()">Reset</button>
  <span *ngIf="last" class="mini-spacer"></span>
  <button *ngIf="!first" mat-stroked-button matStepperPrevious>Back</button>
  <span *ngIf="!first" class="mini-spacer"></span>
  <button *ngIf="!last" mat-stroked-button matStepperNext>Next</button>
  <button *ngIf="last" mat-stroked-button matStepperPrevious>Preview</button>
</div>
