<mat-menu #menu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<mat-toolbar color='accent'>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button *ngIf="!authenticator.auth.currentUser" mat-raised-button routerLink="/login">Login</button>
  <button *ngIf="!authenticator.auth.currentUser" mat-stroked-button routerLink="/sign-up">Sign up</button>
  <button *ngIf="authenticator.auth.currentUser" mat-stroked-button (click)="logout()">
    Log out
  </button>
  <button *ngIf="authenticator.auth.currentUser" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
