@import "mixins"

mat-form-field
  margin-bottom: 1em

.row
  max-width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 1em

  mat-form-field
    min-width: 3em
    flex: 1 1 auto
    padding-right: 0
    padding-left: 0
    margin-bottom: 0.25em

    @include apply-only-to(huge-displays)
      $n: 5
      width: 100% / $n - 2%
      padding-right: 2%

      &:nth-child(#{$n}n+#{$n})
        padding-right: 0


    @include apply-only-to(large-displays)
      $n: 3
      width: 100% / $n - 2%
      padding-right: 2%

      &:nth-child(#{$n}n+#{$n})
        padding-right: 0

    @include apply-only-to(medium-displays)
      $n: 2
      width: 100% / $n - 2%
      padding-right: 2%

      &:nth-child(#{$n}n+#{$n})
        padding-right: 0

    @include apply-only-to(small-displays)
      width: 100%

    &:last-child
      padding-right: 0
