<mat-vertical-stepper [linear]="true" #stepper>

  <!-- GENERAL SETTINGS -->
  <mat-step [stepControl]="generalForm">
    <form [formGroup]="generalForm">
      <ng-template matStepLabel>General Settings</ng-template>

      <!-- TITLE -->
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="My Awesome Adventure" formControlName="title">
        <mat-error *ngIf="generalForm.controls['title'].invalid">
          {{ validator.validate(generalForm, 'title') }}
        </mat-error>
      </mat-form-field>

      <!-- DESCRIPTION -->
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Setting or Preface" formControlName="description"></textarea>
        <mat-error *ngIf="generalForm.controls['description'].invalid">
          {{ validator.validate(generalForm, 'description') }}
        </mat-error>
      </mat-form-field>

      <!-- RULESET -->
      <mat-form-field>
        <mat-label>Rule Set</mat-label>
        <mat-select formControlName="ruleSet">
          <mat-option *ngFor="let ruleSet of ruleSetOptions" [value]="ruleSet">
            {{ ruleSet.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="generalForm.controls['ruleSet'].invalid">
          {{ validator.validate(generalForm, 'ruleSet') }}
        </mat-error>
      </mat-form-field>

      <app-mat-stepper-footer [first]="true"></app-mat-stepper-footer>
    </form>
  </mat-step>

  <!-- ATTRIBUTES AND SKILLS -->
  <mat-step [stepControl]="skillForm">
    <form [formGroup]="skillForm">
      <ng-template matStepLabel>Skills and Attributes</ng-template>

      <!-- USE ATTRIBUTES -->
      <mat-slide-toggle
        [color]="color"
        labelPosition="before"
        formControlName="useAttributes"
        (toggleChange)="game.useAttributes = !game.useAttributes">
        Want to use Attributes?
      </mat-slide-toggle>

      <!-- SKILLS -->
      <mat-form-field *ngIf="!game.useAttributes">
        <mat-label>Skills</mat-label>
        <mat-chip-list #skillList aria-label="Skill List" formControlName="skills">
          <mat-chip *ngFor="let skill of game.skills" (removed)="removeSkill(skill)">
            {{skill.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input id="skillChip"
                 placeholder="Add skills..."
                 formControlName="skill"
                 [matChipInputFor]="skillList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addSkill($event)">
        </mat-chip-list>
        <mat-hint>List all skills the characters later can choose</mat-hint>
        <mat-error *ngIf="skillForm.controls['skills'].invalid">
          {{ validator.validate(skillForm, 'skills') }}
        </mat-error>
      </mat-form-field>

      <ng-container *ngIf="game.useAttributes">
        <!-- ATTRIBUTE DEFINITIONS-->
        <mat-form-field>
          <mat-label>Attributes</mat-label>
          <mat-chip-list #attributeList aria-label="Attribute List" formControlName="attributes">
            <mat-chip *ngFor="let attribute of game.attributes" (removed)="removeAttribute(attribute)">
              {{attribute.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input id="attributeChip"
                   placeholder="Add attributes..."
                   formControlName="attribute"
                   [matChipInputFor]="attributeList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="addAttribute($event)">
          </mat-chip-list>
          <mat-error *ngIf="skillForm.controls['attributes'].invalid">
            {{ validator.validate(skillForm, 'attributes') }}
          </mat-error>
          <mat-hint>For passive trials group skills</mat-hint>
        </mat-form-field>

        <ng-container *ngFor="let attribute of game.attributes">
          <mat-divider></mat-divider>

          <!-- Attribute Skills -->
          <mat-form-field>
            <mat-label>Skills for the {{attribute.name}} Attribute</mat-label>
            <mat-chip-list #skillList aria-label="Skill List" formControlName="{{attribute.name}}_skills">
              <mat-chip *ngFor="let skill of attribute.relatedSkills"
                        (removed)="removeSkillFromAttribute(skill, attribute)">
                {{skill.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input id="{{attribute.name}}_skillChip"
                     placeholder="Add skills for {{attribute.name}}..."
                     formControlName="{{attribute.name}}_skill"
                     [matChipInputFor]="skillList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="addSkillToAttribute($event, attribute)">
            </mat-chip-list>
            <mat-error *ngIf="skillForm.controls[attribute.name + '_skills'].invalid">
              {{ validator.validate(skillForm, attribute.name + '_skills') }}
            </mat-error>
            <mat-hint>List all skills the player later can choose</mat-hint>
          </mat-form-field>

          <!-- ATTRIBUTE CALCULATION -->
          <div class="row">
            <!-- AGGREGATION -->
            <mat-form-field>
              <mat-label>Aggregation</mat-label>
              <mat-select formControlName="{{attribute.name}}_aggregation" [(value)]="attribute.aggregation">
                <mat-option *ngFor="let aggregation of aggregations" [value]="aggregation.name">
                  {{aggregation.name}}
                </mat-option>
              </mat-select>
              <mat-hint>Basic calculation for the {{attribute.name | lowercase}} attribute, based on all related
                skills
              </mat-hint>
              <mat-error *ngIf="skillForm.controls[attribute.name + '_aggregation'].invalid">
                {{ validator.validate(skillForm, attribute.name + '_aggregation') }}
              </mat-error>
            </mat-form-field>

            <!-- BIAS -->
            <mat-form-field>
              <mat-label>Bias</mat-label>
              <input type="number" matInput formControlName="{{attribute.name}}_bias" [(ngModel)]="attribute.bias">
              <mat-hint>This number is added to the calculated {{attribute.name | lowercase}} attribute value</mat-hint>
              <mat-error *ngIf="skillForm.controls[attribute.name + '_bias'].invalid">
                {{ validator.validate(skillForm, attribute.name + '_bias') }}
              </mat-error>
            </mat-form-field>

            <!-- ROUNDING -->
            <mat-form-field>
              <mat-label>Rounding</mat-label>
              <mat-select formControlName="{{attribute.name}}_rounding" [(value)]="attribute.rounding">
                <mat-option *ngFor="let rounding of roundings" [value]="rounding.name">
                  {{rounding.name}}
                </mat-option>
              </mat-select>
              <mat-hint>Determines the final value for the {{attribute.name | lowercase}} attribute</mat-hint>
              <mat-error *ngIf="skillForm.controls[attribute.name + '_rounding'].invalid">
                {{ validator.validate(skillForm, attribute.name + '_rounding') }}
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>

      <app-mat-stepper-footer></app-mat-stepper-footer>
    </form>
  </mat-step>

  <!-- Refresh, Stress, and Consequences -->
  <mat-step [stepControl]="stressForm">
    <form [formGroup]="stressForm">
      <ng-template matStepLabel>Refresh, Stress, and Consequences</ng-template>

      <mat-form-field>
        <mat-label>Refreshrate</mat-label>
        <input type="number" min="0" matInput formControlName="refreshRate" placeholder="3">
        <mat-hint>Number of Fate Points every player gets before each game session</mat-hint>
      </mat-form-field>

      <!-- Stress Bar Definitions-->
      <mat-form-field>
        <mat-label>Stress Bars</mat-label>
        <mat-chip-list #stressBarList aria-label="Stress Bar List" formControlName="stressBars">
          <mat-chip *ngFor="let stressBar of game.stressBars" (removed)="removeStressBar(stressBar)">
            {{stressBar.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input id="stressBarChip"
                 placeholder="Add stress bars..."
                 formControlName="stressBar"
                 [matChipInputFor]="stressBarList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addStressBar($event)">
        </mat-chip-list>
        <mat-error *ngIf="stressForm.controls['stressBars'].invalid">
          {{ validator.validate(stressForm, 'stressBars') }}
        </mat-error>
        <mat-hint>You can add multiple stress bars for different kinds of stress</mat-hint>
      </mat-form-field>

      <ng-container *ngFor="let stressBar of game.stressBars">
        <mat-divider></mat-divider>

        <!-- StressBar Skills -->
        <mat-form-field *ngIf="!this.game.useAttributes">
          <mat-label>Skills for {{stressBar.name}} stress</mat-label>
          <mat-chip-list #skillList aria-label="Skill List" formControlName="{{stressBar.name}}_skills">
            <mat-chip *ngFor="let skill of stressBar.relatedSkills"
                      (removed)="removeSkillFromStressBar(skill, stressBar)">
              {{skill.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input id="{{stressBar.name}}_skillChip"
                   placeholder="Select related skills for {{stressBar.name}} Stress..."
                   formControlName="{{stressBar.name}}_skill"
                   [matAutocomplete]="auto"
                   [matChipInputFor]="skillList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="addSkillToStressBar($event, stressBar)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectSkillForStressBar($event, stressBar)">
              <mat-option
                *ngFor="let skill of filter(game.skills, stressForm, stressBar.name + '_skill')"
                [value]="skill.name">
                {{skill.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-chip-list>
          <mat-error *ngIf="stressForm.controls[stressBar.name + '_skills'].invalid">
            {{ validator.validate(stressForm, stressBar.name + '_skills') }}
          </mat-error>
          <mat-hint>These skills will be used to determine how many stress points each player has</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="this.game.useAttributes">
          <mat-label>Skills or Attributes for {{stressBar.name}} stress</mat-label>
          <mat-chip-list #skillList aria-label="Skill or Attribute List" formControlName="{{stressBar.name}}_skills">
            <mat-chip *ngFor="let skill of stressBar.relatedSkills"
                      (removed)="removeSkillFromStressBar(skill, stressBar)">
              {{skill.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input id="{{stressBar.name}}_skillOrAttributeChip"
                   placeholder="Select related skills or attributes for {{stressBar.name}} Stress..."
                   formControlName="{{stressBar.name}}_skill"
                   [matAutocomplete]="auto"
                   [matChipInputFor]="skillList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="addSkillToStressBar($event, stressBar)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectSkillForStressBar($event, stressBar)">
              <mat-optgroup label="Attributes">
                <mat-option
                  *ngFor="let attribute of filter(game.attributes, stressForm, stressBar.name + '_skill')"
                  [value]="attribute.name">
                  {{attribute.name}}
                </mat-option>
              </mat-optgroup>
              <mat-optgroup
                *ngFor="let attribute of filter(game.attributes, stressForm, stressBar.name + '_skill')"
                [label]="attribute.name">
                <mat-option *ngFor="let skill of attribute.relatedSkills" [value]="skill.name">
                  {{skill.name}}
                </mat-option>
              </mat-optgroup>
              <mat-optgroup
                *ngFor="let attribute of filter(game.attributes, stressForm, stressBar.name + '_skill', true)"
                [label]="attribute.name">
                <mat-option
                  *ngFor="let skill of filter(attribute.relatedSkills, stressForm, stressBar.name + '_skill')"
                  [value]="skill.name">
                  {{skill.name}}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-chip-list>
          <mat-error *ngIf="stressForm.controls[stressBar.name + '_skills'].invalid">
            {{ validator.validate(stressForm, stressBar.name + '_skills') }}
          </mat-error>
          <mat-hint>These skills will be used to determine how many stress points each player has</mat-hint>
        </mat-form-field>


        <!-- StressBar CALCULATION -->
        <div class="row">
          <!-- AGGREGATION -->
          <mat-form-field>
            <mat-label>Aggregation</mat-label>
            <mat-select formControlName="{{stressBar.name}}_aggregation" [(value)]="stressBar.aggregation">
              <mat-option *ngFor="let aggregation of aggregations" [value]="aggregation.name">
                {{aggregation.name}}
              </mat-option>
            </mat-select>
            <mat-hint>Basic calculation for {{stressBar.name | lowercase}} stress capacity, based on all related
              skills
            </mat-hint>
            <mat-error *ngIf="stressForm.controls[stressBar.name + '_aggregation'].invalid">
              {{ validator.validate(stressForm, stressBar.name + '_aggregation') }}
            </mat-error>
          </mat-form-field>

          <!-- BIAS -->
          <mat-form-field>
            <mat-label>Bias</mat-label>
            <input type="number" matInput formControlName="{{stressBar.name}}_bias" [(ngModel)]="stressBar.bias">
            <mat-hint>This number is added to the calculated {{stressBar.name | lowercase}} stress value</mat-hint>
            <mat-error *ngIf="stressForm.controls[stressBar.name + '_bias'].invalid">
              {{ validator.validate(stressForm, stressBar.name + '_bias') }}
            </mat-error>
          </mat-form-field>

          <!-- ROUNDING -->
          <mat-form-field>
            <mat-label>Rounding</mat-label>
            <mat-select formControlName="{{stressBar.name}}_rounding" [(value)]="stressBar.rounding">
              <mat-option *ngFor="let rounding of roundings" [value]="rounding.name">
                {{rounding.name}}
              </mat-option>
            </mat-select>
            <mat-hint>Determines the final value for the {{stressBar.name | lowercase}} stress</mat-hint>
            <mat-error *ngIf="stressForm.controls[stressBar.name + '_rounding'].invalid">
              {{ validator.validate(stressForm, stressBar.name + '_rounding') }}
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>

      <app-mat-stepper-footer></app-mat-stepper-footer>
    </form>
  </mat-step>

  <!-- STUNTS -->
  <mat-step [stepControl]="stuntForm">
    <form [formGroup]="stuntForm">
      <ng-template matStepLabel>Stunts</ng-template>

      <!-- Free Stunts -->
      <mat-form-field>
        <mat-label>Number of Free Stunts</mat-label>
        <input type="number" matInput formControlName="numberOfFreeStunts" [(ngModel)]="game.numberOfFreeStunts">
        <mat-hint>Players can create this many stunts for free</mat-hint>
        <mat-error *ngIf="stuntForm.controls['numberOfFreeStunts'].invalid">
          {{ validator.validate(stuntForm, 'numberOfFreeStunts') }}
        </mat-error>
      </mat-form-field>

      <!-- Use upper Limit for Stunts -->
      <div class="row">
        <mat-slide-toggle
          [color]="color"
          labelPosition="before"
          formControlName="hasMaxNumberOfStunts"
          (toggleChange)="onHasMaxNumberOfStuntsToggle()">
          Limit the Maximum Number of Stunts?
        </mat-slide-toggle>

        <span class="spacer"></span>

        <!-- Upper Limit for Stunts -->
        <mat-form-field *ngIf="game.hasMaxNumberOfStunts">
          <mat-label>Maximum Number of Stunts</mat-label>
          <input type="number" matInput formControlName="numberOfMaxStunts" [(ngModel)]="game.numberOfMaxStunts">
          <mat-hint>Players can have maximally this many stunts</mat-hint>
          <mat-error *ngIf="stuntForm.controls['numberOfMaxStunts'].invalid">
            {{ validator.validate(stuntForm, 'numberOfMaxStunts') }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Cost Stunts -->
      <mat-form-field>
        <mat-label>Cost per Stunt</mat-label>
        <input type="number" matInput formControlName="costPerStunt" [(ngModel)]="game.costPerStunt">
        <mat-hint>A player's refresh rate is reduced by this amount</mat-hint>
        <mat-error *ngIf="stuntForm.controls['costPerStunt'].invalid">
          {{ validator.validate(stuntForm, 'costPerStunt') }}
        </mat-error>
      </mat-form-field>

      <app-mat-stepper-footer></app-mat-stepper-footer>
    </form>
  </mat-step>

  <!-- EXTRAS -->
  <mat-step [stepControl]="extraForm">
    <form [formGroup]="extraForm">
      <ng-template matStepLabel>Extras</ng-template>
      <div class="row">
        <!-- Inventory -->
        <mat-slide-toggle
          [color]="color"
          labelPosition="before"
          formControlName="useInventory"
          (toggleChange)="game.useInventory = !game.useInventory">
          Let characters manage an inventory?
        </mat-slide-toggle>

        <span class="spacer"></span>

        <!-- Money -->
        <mat-slide-toggle
          [color]="color"
          labelPosition="before"
          formControlName="useMoney"
          (toggleChange)="game.useMoney = !game.useMoney">
          Let characters manage money?
        </mat-slide-toggle>

        <span class="spacer"></span>

        <!-- Extras -->
        <mat-slide-toggle
          [color]="color"
          labelPosition="before"
          formControlName="useExtras"
          (toggleChange)="game.useExtras = !game.useExtras">
          Let characters manage extras?
        </mat-slide-toggle>
      </div>

      <mat-hint *ngIf="game.useMoney && !game.useInventory">
        Are you sure you want to use money but not inventories?
      </mat-hint>

      <app-mat-stepper-footer></app-mat-stepper-footer>
    </form>
  </mat-step>

  <!-- PARTICIPANTS -->
  <mat-step [stepControl]="participantForm">
    <form [formGroup]="participantForm">
      <ng-template matStepLabel>Participants</ng-template>
      <p>You will later be able to invite others to your games.</p>
      <app-mat-stepper-footer></app-mat-stepper-footer>
    </form>
  </mat-step>

  <!-- CONFIRMATION -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <app-mat-stepper-footer [last]="true" [stepper]="stepper" (notify)="onReset(stepper)"></app-mat-stepper-footer>
  </mat-step>
</mat-vertical-stepper>
