<div class="view-container">
  <div class="mat-sidenav-container">
    <app-toolbar></app-toolbar>
  </div>

  <div class="mat-app-background content" role="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="mat-sidenav-container">
    <app-footer></app-footer>
  </div>
</div>
