<div>
  <span>Companion app is running!</span>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>The Fate Companion WebApp eases your group's FATE game-play.
      You can add your own character sheets, locations and NPCs with their own attributes. Also, you can update
      temporary aspects for each created artefact.
    </mat-grid-tile>
    <mat-grid-tile>
      <a href="https://placeholder.com/"><img src="https://via.placeholder.com/200"></a>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<h2>DB-Test</h2>
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul>
