body
  font-family: Roboto, Arial, sans-serif
  margin: 0

  .view-container
    min-height: 100vh
    display: flex
    flex-direction: column

  .content
    height: 100%
    flex-grow: 1

.container
  margin: auto
  padding: 1em
  width: 90%
  text-align: center

.spacer
  flex: 1 1 auto

.mini-spacer
  margin: 1em

h1, h2, h3, h4, h5, p, button
  margin-right: 1em
  margin-left: 1em

svg
  margin-right: 1em

form
  display: flex
  flex-direction: column

  button
    align-self: center

.cdk-overlay-backdrop
  backdrop-filter: blur(4px)
